<div class="tweets-contents">

  <div class="tweets-main">
    <h2 class="title">Post a photo</h2>
    <%= form_with model: @tweet, local: true do |f| %>
  
    
    <div class="img-upload">
        image
      <div class="click-upload">
        <%= f.file_field :image, id:"tweet-image "%>
      </div>
    </div>
  
    
    <div class="tweet">
        category
      <p>
      <button class="btn btn-outline-secondary dropdown-toggle mt-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        category_1
      </button>
      <button class="btn btn-outline-secondary dropdown-toggle mt-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        category_2
      </button>
      </p> 
    
      
       
      <div class="tweet_text"> 
          text
        <%= f.text_area :text, class:"tweets-textbox mt-2", rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

   
    <div  class="text-center container">
      <div class="d-grid col-6 mx-auto">
        <%= f.submit "Post", class:"btn btn-secondary" %>
      </div>
      <div  class="text-center container">
        <%=link_to 'TOP', root_path, class:"btn btn-link mt-3"%>
      </div>  
    </div>  
    <% end %>
  </div>
</div>
