<div class="tweets-contents ">
  <div class="tweets-main">
  
    <div class="album py-5">
      <div class="container">
     
        <div class="col">
          <div class="card shadow-sm">
           <%="by #{@tweet.user.nickname}"%>      
            <%= image_tag @tweet.image %>                     
            <div class="text mt-2">
              <%= @tweet.text %>  
            </div>
            <div class="text-secondary mt-3">
              <%@tweet.tags.each do |tag| %>
             tag : #<%=tag.name%> 
            <%end%>
            </div> 
          </div> 
        </div> 

<!-- コメント投稿 -->   
  <% if user_signed_in? %>
    <%= form_with model: [@tweet, @comment],local: true do |f|%>  
      <div class="mt-3">
        <%= f.text_field :text, placeholder: "Post a comment", id:"exampleFormControlTextarea1", class:"form-control", rows:"3" %>
      </div>  
        <div class="d-grid  mx-auto mt-2">
          <%= f.submit "POST", class:"btn btn-secondary" %>
        </div>
    <% end %>
  <% end %>

<div class="comments">
  <P>comments</P>
    <ul class="comments_lists">
      <% @comments.each do |comment| %>
        <li class="comments_list">
            <strong><%= link_to comment.user.nickname, "ser_path(comment.user.id)" %>：</strong>
            <%= comment.text %>
        </li>
      <% end %>
    </ul>
</div>      
<!-- コメント投稿 -->        

       <div class="text-center container">
          <%=link_to 'Back', root_path, class:"btn btn-link text-secondary"%>
        </div>    
      </div>
    </div>
  </div>
</div>
