<!DOCTYPE html>
<html>
  <head>
    <title>Camp36995</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>

  <header>
  <div class="navbar navbar-dark bg-dark p-3 text-white">
      <div class="user_nav">
        <% if user_signed_in? %>
          <%= link_to "My Page","#", class: "btn btn-outline-light" %>
          <%= link_to "Log Out", destroy_user_session_path, class: "btn btn-outline-light", method: :delete %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-light" %>
          <%= link_to "Create Account", new_user_registration_path, class: "btn btn-outline-light" %>
        <% end %>
      </div>
        <% if user_signed_in? %>
        <div class="user_nickname">
        <%= "Hello," %>
        <%= link_to "#{current_user.nickname}", "#", class: "text-white" %>
        </div>
       <% end %>
  </div>
  </header> 
    <%= yield %>

  </body>
</html>
