<!DOCTYPE html>
<html>
  <head>
    <title>Camp36995</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>

  <header>
  <div class="navbar navbar-dark bg-light shadow-sm">
    <div class="container"> 
      <div class="user_nav bg-light">
      <% if user_signed_in? %>
       <div class="nav__right"> 
       <div class="text-right">
          <%= link_to "My Page","#", class: "btn btn-outline-secondary" %>
          <%= link_to "Log Out", destroy_user_session_path, class: "btn btn-outline-secondary", method: :delete %>
        </div> 
      </div> 
      <% else %>
        <div class="nav__right">  
          <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-secondary" %>
          <%= link_to "Create Account", new_user_registration_path, class: "btn btn-outline-secondary" %>
        </div> 
      <% end %>
      </div>
    </div>
  </div>
  </header> 
    <%= yield %>

   
  </body>
</html>
